.dashboard-analytics {
	margin-top: -3%;
}
p {
	font-family: quicksand, Quicksand, sans-serif !important;
	font-weight: 500 !important;
}

hr {
	border-top: 1px solid white !important;
}
.block-display {
	display: block;
	text-align: center;
}

.header-title {
	font-family: 'Tiempos Headline', Georgia, 'Times New Roman', Times, serif;
	font-weight: 700;
	line-height: 1;
}

.subject-list > .card {
	margin: 2px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	padding-top: 15px;
}

/* timeline css  */
.vertical-timeline-element--work {
	margin: 0 !important;
}
.vertical-timeline-element-content {
	padding: 0.4em !important;
}

.vertical-timeline::before {
	background: rgb(33, 150, 243) !important;
}

.vertical-timeline-element-content {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.shortDescr {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 6; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.shortDescr2 {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.subject-list > .card-img,
.card-img-top {
	height: 10em !important;
	object-fit: cover;
}

.studyNavbar {
	position: unset !important;
	background: #2d335c !important;
}

.no-padding {
	padding: 0 !important;
}

.timeline {
	padding: 10px;
}

.bg-gradient-default2 {
	background: linear-gradient(87deg, #172b4d8c 0, #1a174da6 100%) !important;
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
	background: transparent;
}
.vertical-timeline-element-content {
	margin-left: 47px !important;
}

/* study sidenav css  */

.sideBarBtn {
    z-index: 4;
}
.partTitle {
    color: white; 
    padding: 10px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.247);
}
